modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Backend"

[[workflows.workflow]]
name = "Run Backend"
author = 3556613
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && nodemon index.js"

[[ports]]
localPort = 5000
externalPort = 80
